<div class="container-flex">
  <header id="top-nav">
    <div class="rows">
      <div class="col-sm-4 col-md-4">
        <h1 id="logo" class="center-block">OMdb</h1>
      </div>
      <div class="col-sm-8 col-md-8">
        <form id="search-form">
            <input id="search" class="form-control search-input" type="text" name="query" />
            <input type="submit" class="btn btn-default submit-input" value="Submit" />
        </form>
      </div>
    </div>
  </header>
  <div class="rows main-body">
    <div class="col-sm-6 col-md-6">
      <div class="results">
        <article class="movie">
        </article>
      </div>
    </div>
  <div>
  <footer>
  </footer>
</div>
